## 1.导入pandas库

In [5]:
import numpy as np
import pandas as pd

# 2.Series简单创建与使用

In [7]:
obj = pd.Series([4,7,-5,3])
print(obj)  #简单输出
print(obj.values)  #输出值
print(obj.index)    #输出索引

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = Series([4,7,-5,3], index=['d','b','a','c'])    #指定索引
print(obj2)     #简单输出
print(obj2.index)   #输出索引
print(obj2['a'])    #根据索引输出单个值

d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
-5

In [9]:
obj2['d']=6      #根据索引修改值
print(obj2['d'])    #输出
print(obj2[['d','a','c']])  #输出多个值
print(obj2[obj2 > 0])   #按条件输出
print('b' in obj2)  #根据索引看数组里面是否有，返回True
print('e' in obj2)  #返回False

6
d    6
a   -5
c    3
dtype: int64
d    6
b    7
c    3
dtype: int64
True
False

# 3.根据字典创建Series

In [10]:
#根据字典创建Series
sdata = {'Oer':56,'asdgr':32,'rgg':89,'greg':44}
obj3 = pd.Series(sdata)
print(obj3)

Oer      56
asdgr    32
rgg      89
greg     44
dtype: int64

# 4.列表与字典进行匹配

In [11]:
#列表与字典进行匹配
sdata = {'Oer':56,'asdgr':32,'rgg':89,'greg':44}
states = ['Casfef','Oer','rgg','greg'] 
obj4 = Series(sdata, index = states)    #列表与字典进行匹配
print(obj4)
print(pd.isnull(obj4))  #查看数据是否为空
print(pd.notnull(obj4)) #查看数据是否非空

Casfef     NaN
Oer       56.0
rgg       89.0
greg      44.0
dtype: float64
Casfef     True
Oer       False
rgg       False
greg      False
dtype: bool
Casfef    False
Oer        True
rgg        True
greg       True
dtype: bool

# 5.两个Series相加

In [12]:
#两个Serires相加
obj1 = Series([3,7,-4,3], index=['q','b','a','c'])
obj2 = Series([4,7,-5,3], index=['d','b','a','g'])    
print(obj1 + obj2)  #两个Serires相加，具有共同索引的则相加，如果不是共同索引就置为NaN

a    -9.0
b    14.0
c     NaN
d     NaN
g     NaN
q     NaN
dtype: float64

# 6.修改索引的名字

In [14]:
#修改索引的名字
obj = Series([4,7,-5,3], index=['d','b','a','g'])    
obj.index = ['Bob','Steve','Jeff','Ryan']
print(obj.index)
print(obj)

Index(['Bob', 'Steve', 'Jeff', 'Ryan'], dtype='object')
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

# 7.DataFrame的简单应用

In [15]:
#dataframe的简单应用
data = {'state': ['fergre', 'gerg', 'bhtr', 'hbtr'],
        'year': [2000, 2005, 2006, 2007],
        'pop' : [1.5,2.4,3.6,5.5]}
frame = DataFrame(data)     #根据字典创建DataFrame
frame2 = DataFrame(data, columns= ['state', 'pop', 'year'])     #指定列的排列顺序
frame3 = DataFrame(data, index= ['a','b','c','d'])     #指定行索引

In [16]:
frame

    state  year  pop
0  fergre  2000  1.5
1    gerg  2005  2.4
2    bhtr  2006  3.6
3    hbtr  2007  5.5

In [17]:
frame2

    state  pop  year
0  fergre  1.5  2000
1    gerg  2.4  2005
2    bhtr  3.6  2006
3    hbtr  5.5  2007

In [18]:
frame3

    state  year  pop
a  fergre  2000  1.5
b    gerg  2005  2.4
c    bhtr  2006  3.6
d    hbtr  2007  5.5

# 8.获取DataFrame其中的一列，相当于Series

In [20]:
#获取DataFrame其中的一列（相当于Series）
data = {'state': ['fergre', 'gerg', 'bhtr', 'hbtr'],
        'year': [2000, 2005, 2006, 2007],
        'pop' : [1.5,2.4,3.6,5.5]}
frame = DataFrame(data,index= ['q1','q2','q3','q4'])     #根据字典创建DataFrame
frame

     state  year  pop
q1  fergre  2000  1.5
q2    gerg  2005  2.4
q3    bhtr  2006  3.6
q4    hbtr  2007  5.5

In [21]:
print(frame['year'])    #获取其中的一列

q1    2000
q2    2005
q3    2006
q4    2007
Name: year, dtype: int64

In [22]:
print(frame.loc['q2'])    #获取其中的一行

state    gerg
year     2005
pop       2.4
Name: q2, dtype: object

# 9.修改DataFrame中的值

In [23]:
#修改DataFrame中的值
data = {'state': ['fergre', 'gerg', 'bhtr', 'hbtr'],
        'year': [2000, 2005, 2006, 2007],
        'pop' : [1.5,2.4,3.6,5.5]}
frame = DataFrame(data,index= ['q1','q2','q3','q4'])     #根据字典创建DataFrame
frame

     state  year  pop
q1  fergre  2000  1.5
q2    gerg  2005  2.4
q3    bhtr  2006  3.6
q4    hbtr  2007  5.5

In [25]:
frame["pop"] = np.arange(4) # 修改某一列的值
frame

     state  year  pop
q1  fergre  2000    0
q2    gerg  2005    1
q3    bhtr  2006    2
q4    hbtr  2007    3

In [27]:
val = Series([5,2,1],index=['q2','q3','q4'])
val

q2    5
q3    2
q4    1
dtype: int64

In [29]:
frame['pop'] = val #修改指定列的值
frame

     state  year  pop
q1  fergre  2000  NaN
q2    gerg  2005  5.0
q3    bhtr  2006  2.0
q4    hbtr  2007  1.0

# 10.输出DataFrame整体值

In [30]:
#输出DataFrame整体值
data = {'state': ['fergre', 'gerg', 'bhtr', 'hbtr'],
        'year': [2000, 2005, 2006, 2007],
        'pop' : [1.5,2.4,3.6,5.5]}
frame = DataFrame(data,index= ['q1','q2','q3','q4'])     #根据字典创建DataFrame
print(frame.values)

[['fergre' 2000 1.5]
 ['gerg' 2005 2.4]
 ['bhtr' 2006 3.6]
 ['hbtr' 2007 5.5]]

# 11.DataFrame的构造函数