### 1.import package

In [2]:
import pandas as pd
import numpy as np

### 2.two way to read csv

In [7]:
#读取csv文件的两种方式
f = open('HR.csv')  #方法一
df = pd.read_csv(f)
print(df)
f.close

f = open('HR.csv')  #方法二，必须指定分隔符为','，否则会读取失败
df = pd.read_table(f,sep=',')
print(df)
f.close

df

       satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
...                   ...              ...             ...
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
0                       157                   3              0     1
1                       262                   6              0     1
2                       272                   4              0     1
3                       223                   5              0     1
4                       159                   3              0     1
...                     ...                 ...            ...   ...
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years    sales  salary
0                          0    sales     low
1                          0    sales  medium
2                          0    sales  medium
3                          0    sales     low
4                          0    sales     low
...                      ...      ...     ...
14994                      0  support     low
14995                      0  support     low
14996                      0  support     low
14997                      0  support     low
14998                      0  support     low

[14999 rows x 10 columns]
       satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
...                   ...              ...             ...
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
0                       157                   3              0     1
1                       262                   6              0     1
2                       272                   4              0     1
3                       223                   5              0     1
4                       159                   3              0     1
...                     ...                 ...            ...   ...
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years    sales  salary
0                          0    sales     low
1                          0    sales  medium
2                          0    sales  medium
3                          0    sales     low
4                          0    sales     low
...                      ...      ...     ...
14994                      0  support     low
14995                      0  support     low
14996                      0  support     low
14997                      0  support     low
14998                      0  support     low

[14999 rows x 10 columns]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [6]:
# BUT 这样似乎更好
df = pd.read_csv("HR.csv")
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

### 3.Use regular expressions to read different files with different delimiters

In [ ]:
# #利用正则表达式读取不同含有不同分隔符的文件
# f = open('E:/建模/第5周/data/ex3.txt')  
# df = pd.read_table(f,sep='\s+')
# print(df)

### 4.根据需要，选择需要读取的行

In [10]:
#根据需要选择需要读的行
f = open('HR.csv')  
df = pd.read_table(f,sep=',',skiprows=np.arange(10000))  #跳过不想读的行
print(df)

      0.26  0.91  5  183  6  0  0.1  0.2          IT  medium
0     0.93  0.49  4  255  2  0    0    0  management    high
1     0.27  0.61  3  213  6  0    0    0       sales     low
2     0.90  0.63  4  173  3  0    0    0  accounting  medium
3     0.16  0.70  6  246  4  0    0    0     support  medium
4     0.75  0.63  3  148  4  0    0    0   technical  medium
...    ...   ... ..  ... .. ..  ...  ...         ...     ...
4994  0.40  0.57  2  151  3  0    1    0     support     low
4995  0.37  0.48  2  160  3  0    1    0     support     low
4996  0.37  0.53  2  143  3  0    1    0     support     low
4997  0.11  0.96  6  280  4  0    1    0     support     low
4998  0.37  0.52  2  158  3  0    1    0     support     low

[4999 rows x 10 columns]

### 5.处理缺失值

In [13]:
#处理缺失值
f = open('HR.csv')  
df = pd.read_table(f,sep=',',na_values='low')  #如果数据中有’world’，也会视为缺失值
f.close
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,NaN
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,NaN
4,0.37,0.52,2,159,3,0,1,0,sales,NaN
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,NaN
14995,0.37,0.48,2,160,3,0,1,0,support,NaN
14996,0.37,0.53,2,143,3,0,1,0,support,NaN
14997,0.11,0.96,6,280,4,0,1,0,support,NaN
14998,0.37,0.52,2,158,3,0,1,0,support,NaN

### 6.逐行读取文件

In [14]:
#逐行读取文件
f = open('HR.csv')  
df = pd.read_table(f,sep=',',nrows=5)  #只读取前面5行
print(df)

   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  left  promotion_last_5years  sales  \
0                   3              0     1                      0  sales
1                   6              0     1                      0  sales
2                   4              0     1                      0  sales
3                   5              0     1                      0  sales
4                   3              0     1                      0  sales

   salary
0     low
1  medium
2  medium
3     low
4     low

### 7.！！！将dataframe写入csv

In [22]:
#将dataframe数据写入csv文件
 
data =  pd.read_csv("HR.csv")
data.to_csv('HRNEW.csv')   #将dataframe输出到csv文件中
# data.to_csv('HRNEW.csv',na_rep='ok')   #将缺失值补上‘ok’
# data.to_csv('HRNEW.csv',header=None)   #不设置表头
# data.to_csv('HRNEW.csv',columns=['salary'])   #写出指定的列

df = pd.read_csv("HRNEW.csv")
df

,Unnamed: 0,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0,0.38,0.53,2,157,3,0,1,0,sales,low
1,1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,3,0.72,0.87,5,223,5,0,1,0,sales,low
4,4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...,...
14994,14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,14998,0.37,0.52,2,158,3,0,1,0,support,low

### 8.将csv拉取到series上

In [ ]:
#将csv文件读取位Series
# f = open('E:/建模/第5周/data/tseries.csv') 
# series = Series.from_csv(f,parse_dates=True)
# print(series)

### 9.我们注意到：
读取到csv文件中的数据前面多了index，我们只需要：

In [23]:
#将dataframe数据写入csv文件
 
data =  pd.read_csv("HR.csv")
data.to_csv('HRNEW.csv',index=False)   #将dataframe输出到csv文件中,设置index的参数即可

df = pd.read_csv("HRNEW.csv")
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low